<header>
    <nav>
        <h1><%= link_to "Blogger", root_path %></h1>
        <ul class= "left">
            <li>
                <%= link_to "Articles", root_path%>
            </li>
        </ul>
    </nav>
</header>